body {
    background-color: aquamarine;
    font-family: 'Agency FB';
}

#loginDiv {
    background-color: lightgreen;
    width: 80%;
    height: 50%;
    border-radius: 25px;
    padding-top: 50px;
    border-color: black;
    border-style: solid;
    border-collapse: separate;
    border-width: 5px;
}